:root {
    /* W2PLoading */
    --w2p-loading-bg-color: rgba(255, 255, 255, 0.8);
    --w2p-loading-stroke: #1e88e5;
    --w2p-loading-text-color: #747474;
    --w2p-loading-font-size: 14px;
    --w2p-loading-font-family: 'Helvetica', 'Verdana', 'Arial', 'sans-serif';

    /* W2PApp */
    --w2p-app-border-color: #d1d1d1;
    --w2p-app-bg-color: #fff;
    --w2p-app-font-size: 14px;
    --w2p-app-font-family: 'Helvetica', 'Verdana', 'Arial', 'sans-serif';

    /* W2PLeftBar */
    --w2p-leftbar-bg-color: #4CAF50;
    --w2p-leftbar-bg-color-hover: #388E3C;
    --w2p-leftbar-font-size: 14px;
    --w2p-leftbar-font-family: 'Helvetica', 'Verdana', 'Arial', 'sans-serif';
    --w2p-leftbar-btn-font-size: 6px;
    --w2p-leftbar-toolbar-btn-active: #fff;
    --w2p-leftbar-btn-font-color: #fff;

    /* Document window */
    --w2p-window-bg-color: #fff;
    --w2p-page-bleed-color: #7777ff;
    --w2p-page-cutline-color: #ff7777;
    --w2p-page-mask-color: rgba(0, 0, 0, 0.8);
    --w2p-page-scale-color: #656565;
}

/*
 * -----------------------------------------------
 * App UI
 * -----------------------------------------------
 */
#w2p {
    min-width: 420px;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--w2p-app-bg-color);
    border: 1px solid var(--w2p-app-border-color);
    font-size: var(--w2p-app-font-size);
    font-family: var(--w2p-app-font-family);
    overflow: hidden !important;
}

/*
 * -----------------------------------------------
 * App: top bar
 * -----------------------------------------------
 */
#w2p>#w2p-topbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #ddd;
    border-bottom: 1px solid var(--w2p-app-border-color);
}