/*
 * -----------------------------------------------
 * App: main
 * -----------------------------------------------
 */
#w2p>#w2p-main {
    position: absolute;
    top: 50px;
    left: 252px;
    width: calc(100% - 252px);
    height: calc(100% - 50px);
    background-color: var(--w2p-window-bg-color);
    overflow: hidden;
}

#w2p-main::before {
    --hole-width: calc(var(--w2p-dynamic-document-mask-width) * var(--w2p-dynamic-document-scale));
    --hole-height: calc(var(--w2p-dynamic-document-mask-height) * var(--w2p-dynamic-document-scale));
    content: '';
    position: absolute;
    inset: 0;
    background: var(--w2p-page-mask-color);
    pointer-events: none;
    z-index: 5;
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    -webkit-mask-repeat: no-repeat, no-repeat;
    -webkit-mask-size:
        100% 100%,
        var(--hole-width) var(--hole-height);
    -webkit-mask-position:
        0 0,
        calc(50% - var(--hole-width) / 2) calc(50% - var(--hole-height) / 2);
    mask-repeat: no-repeat, no-repeat;
    mask-size: 100% 100%, var(--hole-width) var(--hole-height);
    mask-position: center center;
}

#w2p-main>#w2p-main-doc-page,
#w2p-main>#w2p-main-scale {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 999;
    user-select: none;
    pointer-events: none;
    color: var(--w2p-page-scale-color);
    font-size: 11px;
    font-family: 'Helvetica', 'Verdana', 'Arial', 'sans-serif';
}

#w2p-main>#w2p-main-doc-page {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#w2p-main>#w2p-main-doc-next-btn {
    left: calc(50% + 80px) !important;
}

#w2p-main>#w2p-main-doc-prev-btn,
#w2p-main>#w2p-main-doc-next-btn {
    position: absolute;
    bottom: -1px;
    left: calc(50% - 104px);
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    border: 2px solid #5f5f5f;
    border-radius: 25px;
    background-color: transparent;
    cursor: pointer;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.3s;
}

#w2p-main>#w2p-main-doc-prev-btn>svg,
#w2p-main>#w2p-main-doc-next-btn>svg {
    height: 10px;
}

#w2p-main>#w2p-main-doc-prev-btn>svg>path,
#w2p-main>#w2p-main-doc-next-btn>svg>path {
    fill: #5f5f5f;
    transition: ease-in-out 0.3s;
}

#w2p-main>#w2p-main-doc-prev-btn.disabled,
#w2p-main>#w2p-main-doc-next-btn.disabled {
    opacity: 0.5;
    border-color: #5f5f5f !important;
}

#w2p-main>#w2p-main-doc-prev-btn.disabled>svg>path,
#w2p-main>#w2p-main-doc-next-btn.disabled>svg>path {
    fill: #5f5f5f !important;
}

#w2p-main>#w2p-main-doc-prev-btn:hover,
#w2p-main>#w2p-main-doc-next-btn:hover {
    border-color: #f7f7f7;
}

#w2p-main>#w2p-main-doc-prev-btn:hover svg>path,
#w2p-main>#w2p-main-doc-next-btn:hover svg>path {
    fill: #fff;
}

/**
 * -----------------------------------------------
 * Pages
 * -----------------------------------------------
 */
#w2p>#w2p-main>.w2p-main-page {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow: none;
}

#w2p>#w2p-main>.w2p-main-page.active {
    display: block;
    overflow: visible;
}

#w2p>#w2p-main>.w2p-main-page>.w2p-main-page-bglayer {
    pointer-events: none !important;
}

#w2p>#w2p-main>.w2p-main-page>.w2p-bleed {
    position: absolute;
    background-color: transparent !important;
    border: 2px dashed var(--w2p-page-bleed-color);
    pointer-events: none !important;
    z-index: 999;
}

#w2p>#w2p-main>.w2p-main-page>.w2p-cutlines {
    position: absolute;
    background-color: transparent !important;
    border: 2px dashed var(--w2p-page-cutline-color);
    opacity: 0.5;
    pointer-events: none !important;
    z-index: 999;
}

#w2p>#w2p-main>.w2p-main-page>.w2p-shape,
#w2p>#w2p-main>.w2p-main-page>.w2p-image,
#w2p>#w2p-main>.w2p-main-page>.w2p-text {
    position: absolute;
    user-select: none;
}

/**
 * -----------------------------------------------
 * Page element wrapper (rotate, resize, move)
 * -----------------------------------------------
 */
#w2p>#w2p-main>.w2p-main-page>.w2p-element-wrap {
    position: absolute;
    border: 2px dashed var(--w2p-page-cutline-color);
}