/*
 * -----------------------------------------------
 * App: left bar
 * -----------------------------------------------
 */
#w2p>#w2p-leftbar {
    position: absolute;
    top: 50px;
    left: 0;
    width: 252px;
    height: calc(100% - 50px);
    background-color: #b7b7b7;
    border-right: 1px solid var(--w2p-app-border-color);
    display: flex;
    justify-content: space-between;
}

#w2p>#w2p-leftbar .w2p-leftbar-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 52px;
    overflow: hidden;
    background-color: var(--w2p-leftbar-bg-color);
    font-size: var(--w2p-leftbar-font-size);
    font-family: var(--w2p-leftbar-font-family);
}

#w2p>#w2p-leftbar .w2p-leftbar-list>li {
    display: block;
    width: 100%;
    height: 52px;
}

#w2p>#w2p-leftbar .w2p-leftbar-list>li.separator {
    height: auto;
}

#w2p>#w2p-leftbar .w2p-leftbar-list>li.separator>hr {
    border: none;
    border-top: 1px solid var(--w2p-leftbar-bg-color-hover);
    margin: 0;
}

#w2p>#w2p-leftbar .w2p-leftbar-list>li>button {
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 15px;
    text-decoration: none;
    font-size: var(--w2p-leftbar-btn-font-size);
    font-family: var(--w2p-app-font-family);
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--w2p-leftbar-btn-font-color);
    user-select: none;
    transition: all 0.3s ease-in-out;
    position: relative;
}

#w2p>#w2p-leftbar .w2p-leftbar-list>li>button>img {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    filter: invert(1);
}

#w2p>#w2p-leftbar .w2p-leftbar-list>li>button.w2p-leftbar-btn-props.active {
    color: var(--w2p-leftbar-btn-font-color);
    background-color: var(--w2p-leftbar-bg-color-hover);
}

#w2p>#w2p-leftbar .w2p-leftbar-list>li>button.w2p-leftbar-btn-props.active>img {
    filter: invert(1);
}

#w2p>#w2p-leftbar .w2p-leftbar-list>li>button:hover {
    background-color: var(--w2p-leftbar-bg-color-hover);
}

#w2p>#w2p-leftbar .w2p-leftbar-list>li>button.active {
    background-color: var(--w2p-leftbar-toolbar-btn-active);
    color: var(--w2p-leftbar-bg-color-hover);
}

#w2p>#w2p-leftbar .w2p-leftbar-list>li>button.active>img {
    filter: opacity(0.5);
}

/* toolbar */
#w2p>#w2p-leftbar>div {
    position: relative;
    width: 200px;
    height: 100%;
    background-color: var(--w2p-leftbar-toolbar-btn-active);
}

#w2p>#w2p-leftbar>div>.w2p-leftbar-toolbar {
    display: none;
    width: 170px;
    height: 100%;
    padding: 10px 15px;
    overflow: auto;
    font-size: var(--w2p-leftbar-font-size);
    font-family: var(--w2p-app-font-family);
}

#w2p>#w2p-leftbar>div>.w2p-leftbar-toolbar.active {
    display: block;
}